<%= simple_form_for([@goal, Milestone.new], remote: true, html: {id: :new_milestone }) do |f| %>
<h3>Add a new milestone</h3>
  <%= f.input :description %>
  <%= f.input :deadline, as: :string, required: false, input_html: {class: "datepicker"} %>
  <%= f.button :submit %>
<% end %>
