.transition-soft {
  transition: 0.3s ease;
}


.simple_form input:not(.boolean) {
  appearance: none;
  display: block;
  width: 100%;
  background-color: #edf2f7;
  color: #4a5568;
  border-width: 1px;
  border-color: #edf2f7;
  border-radius: 0.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1.25;
  margin-bottom: 1rem;
}

.simple_form input:not(.boolean):focus {
  outline: 0;
  background-color: #fff;
  border-color: #a0aec0;
}

.simple_form label{
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #4a5568;
  font-size: .75rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.simple_form .hint {
  display: block;
  letter-spacing: 0.025em;
  color: #4a5568;
  font-size: .75rem;
}

.simple_form select {
  appearance: none;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-right: 2rem;
  width: 100%;
  border-width: 1px;
  border-color: #edf2f7;
  border-radius: 0.25rem;
  background-color: #edf2f7;
  color: #4a5568;
  line-height: 1.25;
  -webkit-appearance: none;
}

.simple_form select:focus {
  outline: 0;
  background-color: #fff;
  border-color: #a0aec0;
}

.simple_form input.btn{
  cursor: pointer;
  background-color: #6b46c1;
  color: #fff;
  width: 8rem;
  border-radius: 9999px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 0rem;
  &.w-full{
    width: 100%;
    border-radius: 0.5rem;
  }
}

.simple_form input.btn:hover {
  cursor: pointer;
  background-color: #805ad5;
}

.simple_form input.boolean {
  margin: 0.75rem;
}

.body {
  height: 100%;
  padding-top: 0.75rem;
}

.active {
  background-color: #f6ad55;
  color: #fffaf0;
}
