<div class="border-2 rounded-lg border-gray-300 h-56 bg-white pt-3">
  <%= simple_form_for([ publication, comment ], url: publication_comments_path(publication), remote: true) do |form| %>
    <%= form.input :content,as: :text, label:false , input_html: { id:"", class: "new_comment", autocomplete: 'off'}, placeholder: "Type your comment...", wrapper_html: { class: "bg-orange-200"}  %>
      <%= button_tag(type: 'submit', id: "btn-custom3", class:" mattr_accessor :attr_names-0") do %>
        <%= fa_icon "paper-plane" %>
        <% end %>
  <% end %>

</div>
