<div id="publications" class="publications-list">
  <div class="flex flex-col lg:flex-row items-center mb-5 w-full rounded-lg border-2 border-gray-200 bg-white">
    <div class="flex lg:flex-col items-center w-1/6 flex-shrink-0 mx-1">
      <img alt="newspaper icon" class="mt-8 mb-12 lg:my-0 w-12"
        src="https://image.flaticon.com/icons/svg/828/828368.svg">
    </div>

    <!-- TITLE -->
    <div class="flex flex-col lg:w-5/6 p-4 lg:p-8 lg:pl-0">
      <h2 class="font-bold mb-2 mt-5 lg:mt-0 text-lg text-left">It seems that your diary is empty.</h2>

      <!-- CONTENT -->
      <div class="text-gray-600 mb-16 lg:mb-8 text-left">
        <p>Your diary is a space for you to share your happy moments and vent about the not so happy ones. Other users who visit your profile can see your posts and comment on them, so it's the perfect place for others to get to know you a little better and follow your recovery journey. </p>
        <br>
        <p> You can also publish private messages that only you can see, so you can keep track of what's happening in your life with privacy. Private posts are great when used together with the mood graph, so you can record what causes your mood changes and find out what your main positive and negative triggers are.</p>
      </div>

      <div class="flex justify-between items-center pb-3 lg:pb-0">
        <!-- NOTE -->
        <div>
          <p class="text-blue-300 text-sm">
            A friendly note posted by your <span class="italic">Buddysteps team</span>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
