<div class="w-full mt-5 py-5 pl-5 md:pr-5 border-2 border-gray-200 md:rounded-lg bg-gray-200">
  <div class="lg:flex justify-between items-end">
    <p class="transition-soft uppercase font-bold text-gray-700 text-md pb-2 selected text-lg">
      Completed goals</p>
  </div>
  <div class="flex overflow-x-scroll flex-no-wrap scroll py-5 pl-5 sm:flex-wrap sm:overflow-visible sm:justify-center">
    <% @completed_goals.each do |completed_goal| %>
      <%= link_to goal_path(completed_goal), class: "relative scroll-card bg-white rounded-2xl mr-10 p-5 border-2 border-gray-300 w-56 text-center text-gray-600 sm:mb-4 sm:px-0 flex flex-col justify-between pt-10 absolute", style: "height: 20rem" do %>
        <p class="mb-4">
          <%= render 'goal_image_category', goal: completed_goal %>
        </p>
        <br>
        <h3 class="font-sans font-semibold text-base text-gray-800"><%= completed_goal.title.upcase %></h3>
        <div class="bg-orange-300 rounded-full py-1 w-3/4 mx-auto mt-2 mb-4">
          <span class="inline-block align-middle font-sans font-medium text-xs text-orange-800 font-bold">
            COMPLETED!
          </span>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
