<% @completed_goals.each do |completed_goal| %>
  <%= link_to goal_path(completed_goal), class: "scroll-card bg-white shadow-lg rounded-2xl pt-6 mr-4 p-4 w-56 h-64 text-center text-purple-700 block sm:mb-4 sm:px-0 flex-col justify-between" do %>
    <p class="font-sans font-semibold text-3xl">
      All done! Congrats!
    </p> <br>
    <h3 class="font-sans font-semibold text-base text-gray-800"><%= completed_goal.title.upcase %></h3>
    <div class="bg-gray-200 rounded-full py-1 w-3/4 mx-auto mt-3 mb-4">
    </div>
  <% end %>
<% end %>
