<!-- AMOUNT-OF-DAYS FILTERS -->
<div class="flex justify-center">
  <button id="seven-day-view" class="graph-btn border p-2 rounded hover:bg-orange-300 opacity-50 cursor-not-allowed" data-day="0">
    7-day view
  </button>
  <button id="fifteen-day-view" class="graph-btn border p-2 rounded hover:bg-orange-300">
    15-day view
  </button>
  <button id="thirty-day-view" class="graph-btn border p-2 rounded hover:bg-orange-300">
    30-day view
  </button>
</div>

<!-- GRAPH -->
<div id="chart"></div>

<!-- GRAPH BUTTONS -->
<div class="flex flex-col items-center">
  <div class="">
    <button id="previous-week" class="graph-btn border mr-5 p-2 rounded hover:bg-orange-300">Previous week</button>
    <button id="next-week" class="graph-btn border p-2 rounded hover:bg-orange-300 opacity-50 cursor-not-allowed">
      Next week
    </button>
  </div>

  <div class="">
    <button id="previous-day" class="graph-btn border mr-5 p-2 rounded hover:bg-orange-300">Previous day</button>
    <button id="next-day" class="graph-btn border p-2 rounded hover:bg-orange-300 opacity-50 cursor-not-allowed">
      Next day
    </button>
  </div>
</div>
