<div class="bg-white rounded-lg flex-grow p-8 border-2 border-gray-300 opacity-75 max-w-full">
  <h2 class="pl-6 text-2xl mb-6 mt-5 font-bold">Oops, not enough data!</h2>
  <div class="ml-6">
    <p class="text-1xl font-bold">BuddySteps helps you keep track of your mood and sleep quality.</p>
    <p class="text-gray-700">We daily ask you how your day is going and show you the data as a graph. You can easily notice mood patterns and work efficiently on improving your life quality. Fill the form to the right and get started!</p>
  </div>
  <div id="placeholder-chart" class="my-5 mx-auto"></div>
</div>
