<% if notice %>
  <div id="flash" class="alert flex items-center bg-blue-500 text-white text-sm font-bold px-4 py-3" onClick='document.getElementById("flash").style.display="none"'>
    <%= notice %>
    <button type="button" class="close pl-4">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<% if alert %>
  <div id="flash" class="alert flex items-center bg-blue-500 text-white text-sm font-bold rounded-sm px-4 py-3 justify-between" onClick='document.getElementById("flash").style.display="none"'>
    <%= alert %>
    <button type="button" class="close pl-4">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
