<div id="publications" class="publications-list">
  <div class="flex flex-col lg:flex-row items-center mb-5 w-full rounded-lg border-2 border-gray-200 bg-gray-200">
    <div class="flex lg:flex-col items-center w-1/6 flex-shrink-0 mx-1">
      <img alt="newspaper icon" class="mt-8 mb-12 lg:my-0 w-12"
        src="https://image.flaticon.com/icons/svg/1078/1078011.svg">
    </div>

    <!-- TITLE -->
    <div class="flex flex-col lg:w-5/6 p-4 lg:p-8 lg:pl-0">
      <h2 class="font-bold mb-2 mt-5 lg:mt-0 text-lg text-left">It seems that your chat is empty.</h2>

      <!-- CONTENT -->
      <div class="text-gray-600 mb-16 lg:mb-8 text-left">
        <p>Look for other users in the communities so they can talk, exchange experiences, and help each other.. </p>
        <br>
      </div>

      <div class="flex justify-between items-center pb-3 lg:pb-0">
        <!-- NOTE -->
        <div>
          <p class="text-blue-300 text-sm">
            A friendly note posted by your <span class="italic">Buddysteps team</span>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
