abbr[title="required"] {
  display: none;
}

.messages {
  border-left: 2px solid #e2e8f0 !important;
  border-right: 2px solid #e2e8f0 !important;

}

.new_message {
  border-bottom-right-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  padding: 4px 15px;
}

#new_message {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
  background-color: white;
  padding-top: 2px;
  border-left: 2px solid #e2e8f0 !important;
  border-right: 2px solid #e2e8f0 !important;
  border-bottom: 2px solid #e2e8f0 !important;
  border-top: 1px solid #e2e8f0;

}

.input.message_content {
  width: 100% !important;
  max-height: 48px;
  #message_content {
    width: 100% !important;
    &:focus {
      outline: 0;
    }
  }
}



.milestone_description {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  #milestone_description {
    // flex-grow: 1;
    width: 80%;
    height: 30px;
    background-color: #edf2f7;
    border-radius: 0.25rem;
    &:focus {
      outline: 0;
      background-color: #fff;
      border: 1px solid #a0aec0;
    }
  }
}

.milestone_deadline {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  height: 30px;
  .input.form-control {
    width: 80% !important;
    background-color: #edf2f7;
    height: 30px;
    margin-left: 55px;
  }
}
