abbr[title="required"] {
  display: none;
}
.milestone_description {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  #milestone_description {
    // flex-grow: 1;
    width: 80%;
    height: 30px;
    background-color: #edf2f7;
    border-radius: 0.25rem;
    &:focus {
      outline: 0;
      background-color: #fff;
      border: 1px solid #a0aec0;
    }
  }
}

.milestone_deadline {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  height: 30px;
  .input.form-control {
    width: 80% !important;
    background-color: #edf2f7;
    height: 30px;
    margin-left: 55px;
  }
}
