<% if current_user.id == @goal.user_id %>
  <div class="flex items-center mb-3">
    <p class="pt-4 text-xl font-bold flex items-center justify-center lg:justify-start my-auto text-gray-700">Milestones</p>
    <div id="add-icon" class="text-orange-500 hover:text-orange-600 font-bold rounded-full ml-2 mt-1 cursor-pointer">
      <%= fa_icon "plus" %>
    </div>
  </div>
  <div id="add-milestone" class="hidden transition-soft transition-delay">
    <%= render "milestones/new_form", goal: @goal, milestone: Milestone.new %>
  </div>
<% end %>
<table class="table-auto mx-auto">
  <tbody id="milestones">
    <% @milestones.each do |milestone| %>
      <%= render "milestones/milestone", milestone: milestone %>
    <% end %>
  </tbody>
</table>

