// Graphical variables
@import "config/fonts";
@import "config/colors";



// External libraries
@import "font-awesome-sprockets";
@import "font-awesome";
@import "flatpickr/dist/themes/confetti";
@import "flatpickr/dist/flatpickr.min";



// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/chart";
@import "components/upload_image_button";
@import "components/goal_show";

.transition-delay {
  transition-delay: 2s;
}

.line-height-username1 {
  line-height: 3.75rem;
}

.publication-img {
  height: 50px!important;
  max-width: 50px!important;
  object-fit: cover;
}

.posted-picture {
  max-width: 20rem;
}

