<div class="communities-list m-5 mb-16 md:m-10">
  <% communities.each do |community| %>
    <%= link_to community_path(community) do %>
      <div class="w-full h-32 md:h-48 mb-2 shadow rounded-lg border border-gray-200 flex items-center justify-center bg-cover" style="background-image: linear-gradient(rgba(38, 21, 66, 0.5),rgba(38, 21, 66, 0.5)), url('https://images.unsplash.com/photo-1454875392665-2ac2c85e8d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=333&q=80');">
        <p class="text-white font-bold text-xl"><%= community.name %></p>
      </div>
    <% end %>
  <% end %>
</div>
