<div>
  <h2>How it works</h2>
  <div class="cards">
    <div class="card">
      <img src="https://image.flaticon.com/icons/svg/387/387572.svg" alt="search">
      <div class="container-bottom">
        <div class="container-txt">
          <h3>Search for specialists</h3>
          <p>Lorem ipsum</p>
        </div>
      </div>
    </div>
    <div class="card">
      <img src="https://image.flaticon.com/icons/svg/201/201565.svg" alt="learn">
      <div class="container-bottom">
        <div class="container-txt">
          <h3>Book a consultation</h3>
          <p>Lorem ipsum</p>
        </div>
      </div>
    </div>
    <div class="card">
      <img src="https://image.flaticon.com/icons/svg/387/387569.svg" alt="product">
      <div class="container-bottom">
        <div class="container-txt">
          <h3>Review your doctor</h3>
          <p>Lorem ipsum</p>
        </div>
      </div>
    </div>
  </div>
</div>
