<div id="publications" class="publications-list flex-col pb-1 w-56 bg-white rounded-lg border border-gray-200 opacity-100 hover:opacity-75">
 <!--  <div class="flex flex-col lg:flex-row items-center mb-5 w-full rounded-lg border-2 border-gray-200 bg-white"> -->
    <!-- IMAGE -->
  <div class="flex items-end justify-center p-0 rounded-t-lg bg-gray-200">
    <h2 class="text-2xl text-left text-gray-600 mb-0 p-1"><%= community.name %></h2>
  </div>
  <p class="text-center py-1 w-3/4 mx-auto m-4 bg-gray-200 text-gray-600 rounded-full font-sans font-medium text-xs">
    not a member
  </p>
</div>
