<div id="publications" class="publications-list flex-col mb-4 px-4 pb-1 w-56 opacity-100 hover:opacity-75">
  <h2 class="text-2xl text-center text-gray-600 mb-0 p-1">All communities</h2>
  <hr>
  <p class="text-center py-1 w-3/4 mx-auto text-gray-600 rounded-full font-sans font-medium text-xs">
    <%= communities.count %> other communities
  </p>
  <p class="text-center py-1 w-3/4 mx-auto bg-gray-200 text-gray-600 rounded-full font-sans font-medium text-xs">
    see them all
  </p>
</div>

