<% if current_user.communities.include?(@community) %>
  <div>
    <%= render 'publications/new_publication', community: @community, publication: @publication %>
  </div>
<% end %>



<div class="mt-5">
  <%= render 'publications/publications_list', publications: @community_publications %>
</div>
