<div class="flex flex-wrap -mx-1 overflow-hidden sm:-mx-6 md:-mx-4 lg:-mx-6 xl:-mx-6">
  <% @users.order('first_name').each do |user| %>

    <div class="my-1 px-1 w-full overflow-hidden sm:my-6 sm:px-6 sm:w-1/3 md:my-4 md:px-4 md:w-1/2 lg:my-6 lg:px-6 lg:w-1/3 xl:my-6 xl:px-6 xl:w-1/3">
      <!-- Column Content -->

      <%= user.first_name %>


    <!-- end of users -->
    </div>
  <% end %>
</div>
