<div class="max-w-3xl mx-8 mt-2 sm:mx-auto">
  <div class="flex flex-wrap overflow-hidden">
    <% @users.order('first_name').each do |user| %>

        <!-- Column Content -->

        <div class="w-1/2 p-2 sm:w-1/3 sm:p-5 lg:w-1/5">
          <%= link_to user_path(user) do %>
            <%= cl_image_tag user.photo, height: 400, width: 400, crop: :fill, class: "m-auto rounded-full h-auto object-contain float-none" %>
          <% end %>
        </div>


      <!-- end of users -->
    <% end %>
  </div>

</div>

<!-- sm:my-6 sm:px-6 sm:w-1/3 md:my-4 md:px-4 md:w-1/2 lg:my-6 lg:px-6 lg:w-1/3 xl:my-6 xl:px-6 xl:w-1/3" sm:-mx-6 md:-mx-4 lg:-mx-6 xl:-mx-6    wx-1/ my-1 px-1 overflow-hidden sm:my-6 sm:px-6 sm:w-1/3 md:my-4 md:px-4 md:w-1/2 lg:my-6 lg:px-6 lg:w-1/3-->
