<h1>Communities#index</h1>
<hr>
<br>
<div class="content">
  <%= render 'publications_list', all_publications: @all_publications %>
  <%= render 'communities_list', communities: @communities %>
</div>
